body {
  background-color: #fff;
  /* Set the background color to #DDD8C4 */
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "Glacial Indifference", sans-serif;
  overflow-x: hidden;
}

.menu-option {
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    margin: 0 30px; /* Adjust spacing between menu options */
    transition: color 0.3s;
    font-family: 'Glacial Indifference', sans-serif;
}

.menu-option:hover {
    color: #000; /* Change color on hover */
}


.banner {
  position: absolute;
  background-color: #F0A202;
  /* Banner color */
  width: 100%;
  /* Full width */
  height: 110px;
  /* Adjust the height */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.banner2 {
  position: absolute;
  background-color: #F18805;
  /* Banner color */
  width: 100%;
  /* Full width */
  height: 45px;
  /* Adjust the height */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 10%;
}

.logo {
      position: absolute;
      top: -50px;
      left: 0;
      margin: 10px;
      width: auto;
      height: 190px;
    }


/* niah */

h1 {
    
    font-weight: bold;
    margin-top: 20px;
  }
  p {
    line-height: 1.1em;
  }
  .trigger {
    position: absolute;
    background: #f18805;
    border: 2px solid #040f0f;
    color: #fff;
    font-size: 27px;
    top: 2.5%;
    left: 86%;
    padding: 7px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
  }
  .trigger:hover {
    background: #040f0f;
  }
  .user {
    position: absolute;
    top: 1%;
    left: 93%;
    width: 6%;
    height: 10%;
    transition: transform 0.3s ease-in-out;
  }
  .user:hover {
    transform: scale(1.2);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    opacity: 0; 
    visibility: hidden;
  }
  .overlay:target {
    opacity: 1;
    visibility: visible;
  }
  .wrapper {
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    color: #dd3e42;
    font-weight: bold;
    transition: all 200ms;
  }
  .close:hover {
    transform: scale(1.2);
  }

  .column {
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .details {
    background: #f18805;
  }
  .details h1 {
    color: #10213e;
  }

  .signin, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    border: 2px;
    margin: 8px 0;
    font-family: inherit;
    color: #202c59;
    font-size: inherit;
    transition: transform 0.3s ease-in-out;
  }

  input:focus {
    outline-color: #202c59;
  }
  input:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
    transition: transform 0.3s ease-in-out;
  }
  a:hover {
    transform: scale(1.05);
  }
  .form-submit {
    background: #10213e;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }
  .form-submit:hover {
    transform: scale(1.1);
  }
  .signup .form-submit {
    margin-top: 15px;
  }
  #signin, #signup {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  #signin, #signup:hover {
    transform: scale(1.1);
  }
  
  span {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5em;
    color: #100604;
  }

  .content {
    background: #10213e;
    color: #fff;
    text-align: center;
  }

  @media only screen  and (max-width: 900px){
    .wrapper{
        width: 80%;
    }
 }
 @media only screen  and (max-width: 480px){
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }
    .column {
        width: 100%;
    }
    .close {
        top: 0;
        right: 10px;
        margin: 0;
    }
 }

 /* niah */
 /*Above style come from other team mates*/


.multiple-choice {
  position: absolute;
  margin-top: 12%;
  left: 15%;
  width: 750px;
  z-index: -1;
}

.multiple-choice-link {
  position: absolute;
  margin-top: 15%;
  right: 15%;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
}

.method-link {
  color: #000;
  border: 5px solid #100604;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  padding: 25px;
}

.method-link:hover {
  background-color: #040f0f;
  color: #fff;
  transform: scale(1.1);
}

.topic-link {
  margin-top: 10%;
  margin-bottom: 10%;
  color: #000;
  border: 5px solid #100604;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
}

.topic-link:hover {
  background-color: #040f0f;
  color: #fff;
  transform: scale(1.1);
}

.in-page-nav-link {
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  border: 5px solid #100604;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  padding: 20px;
}

.in-page-nav-link:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}


.exam-papers {
  position: absolute;
  margin-top: 38%;
  right: 15%;
  width: 750px;
  z-index: -1;
}


.exam-papers-link {
  position: absolute;
  margin-top: 41%;
  left: 15%;
  text-align: center;
  font-size: 35px;
  z-index: -1;
}

.revision {
  position: absolute;
  margin-top: 62%;
  left: 15%;
  width: 750px;
  z-index: -1;
}


.revision-link {
  position: absolute;
  margin-top: 65%;
  right: 15%;
  text-align: center;
  font-size: 35px;
}

.back-to-subject-page {
  position: absolute;
  margin-top: 50%;
  right: 40%;
  text-align: center;
  font-size: 35px;
}



.botao {
   display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 30px; /* Increase border-radius for oblong shape */
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 40%;

}

.contact {
left: 70%;

}

.about {
left: 79%;

}

.collaborate {
left: 87%;

}


.idk {
    font-size: 18px;
    position: absolute;
    left: 5%;
    font-family: 'Glacial Indifference', sans-serif;
    color: white;
    font-weight: bold;

}

.oneb {
top: 20%;

}

.twob{
top: 45%;

}

.threeb{
top: 70%;


}

.idek {
    font-size: 18px;
    position:absolute;
    left: 5%;
    font-family: 'Glacial Indifference', sans-serif;
    color: white;
    font-weight: bold;
    left: 70%;
    top: 20%;
}



.banner5 {
  position: absolute;
    background-color: #f18805; /* Banner color */
    width: 100%; /* Full width */
    height: 150px; /* Adjust the height */
    z-index: -1;
    top: 280%;
    font-size: 16px;
}

.margin-top-subject {
  margin-top: 92%;
}

.margin-top-footer {
  margin-top: 55%;
}

.buttons {
  position: absolute;
  top: 18px;
  right: 30px;
  /*button position */
}

.login-button,
.signup-button {
  width: 110px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button {
  background-color: #F18805;
  color: #fff;
  right: 5px;
}

.login-button:hover {
  background-color: #e64a19;
}

.signup-button {
  background-color: #D95D39;
  color: #fff;
  border: 2px dashed #fff;
  right: 50px;
  /* Adjust this value to move the button more to the left */
}


.signup-button:hover {
  background-color: #e64a19;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.examlink {
  position: absolute;
  margin-top: 12%;
  right: 60%;
  text-align: center;
  font-family: "Glacial Indifference", sans-serif;
  font-size: 35px;
}

.examimage {
  position: absolute;
  margin-top: 17%;
  right: 30%;
  text-align: center;
  width: 800px;
  height: 500px;
}

.multiple-choice-questions {
  position: absolute;
  margin-top: 15%;
  left: 15%;
  text-align: left;
  font-size: 35px;
}

.quiz {
  list-style-type: decimal;
  top: 20%;
  padding: 0;
}

.choices {
  list-style-type: none;
  top: 20%;
  padding: 0;
}

.choices li {
  margin-bottom: 5px;
}

.choices label {
  display: flex;
  align-items: center;
}

.choices label,
input[type="radio"] {
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 8px;
}

.multiple-choice-results {
  position: absolute;
  margin-top: 75%;
  left: 15%;
}

.view-results {
  padding: 1rem;
  cursor: pointer;
  color: black;
  background: #F0A202;;
  border-radius: 8px;
  margin-right: 5px;
  font-size: 35px;
}

.my-results-hidden {
  display: none;
}

.hint-section {
  position: absolute;
  margin-top: 80%;
  left: 15%;
}

.image-for-hint {
  position: absolute;
  margin-top: 15%;
  left: 50%;
}

.forces-image-for-hint {
  position: absolute;
  margin-top: 15%;
  left: 50%;
  width: 1000%;
}
.biology-image-for-hint {
  position: absolute;
  margin-top: 15%;
  left: 50%;
  width: 700%;
}

.nav-links {
  position: absolute;
  margin-top:110%;
  left: 30%;
  font-size: 35px;
}


